@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
h1,h2{
    font-family: 'Dancing Script', cursive !important;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 40vh;
}

.translation{
    margin-top: 40px;
}








